<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= capybara_lockstep if defined?(Capybara::Lockstep) %>

    <title>
      <% if content_for?(:page_title) %>
        <%= content_for :page_title %> -
      <% end %>

      Maintenance Tasks
    </title>

    <%= csrf_meta_tags %>

    <%# Maintenance Tasks UI Stylesheet %>
    <%= maintenance_tasks_ui_stylesheet_link_tag unless request.xhr? %>
  </head>

  <body>
    <%= render "layouts/maintenance_tasks/navbar" %>

    <div class="mt-app-layout">
      <main class="mt-main">
        <section class="section">
          <div class="container">
            <%= render "layouts/maintenance_tasks/flash_messages" %>
            <%= yield %>
          </div>
        </section>
      </main>
    </div>

  </body>
</html>
